@tailwind base;
@tailwind components;
@tailwind utilities;

body:has(dialog[open]) {
  overflow: hidden;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

html {
  scroll-behavior: smooth !important;
  padding-bottom: env(safe-area-inset-bottom);
}

/* Custom classes */
.wrapper {
  @apply px-8 md:px-12;
}

.left-col {
  @apply col-span-1 col-start-1;
}

.right-col {
  @apply col-span-1 col-start-2;
}

@media not all and (min-resolution: 0.001dpcm) {
  .fill-safari {
    min-height: -webkit-fill-available;
  }
}

.wide-grid > *:nth-child(2n) {
  justify-self: end;
}

.circular-progress .bar {
  border: solid 2px hotpink;
  aspect-ratio: 1;
  border-radius: 100%;
  --mask: conic-gradient(red var(--p, 27%), transparent 0%) border-box;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.ball:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: hotpink;
  position: absolute;
  display: block;
  left: 50%;
  transform: translate(-50%, -30%);
}
